.battery-about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #f8f9fa;
}

.battery-about-section .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}
.battery-about-section .about-container .content{
    color: #0c0c0c;
}

.battery-about-section .about-content {
  text-align: justify;
  color: #555!important;
  font-size: 1rem;
}

.battery-about-section .about-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
 .battery-about-section .about-container {
    flex-direction: row;
    align-items: start;
    gap: 2rem;
  }

 .battery-about-section .about-content {
    flex: 1;
  }

  .battery-about-section .about-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .battery-about-section .about-image {
    width: 90%;
    max-width: 400px;
  }
}
