*{
  margin: 0;
  font-family: 'Poppins';
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:limegreen;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
body{
    width: 100%;
}
.custom-navbar .navbar-toggler{
    background: white;
}

.qr-code-banner {
    position: fixed;
    bottom: 50px;
    left: 20px;
    background-color: seagreen;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    z-index: 1;
}

.qr-code-instructions {
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.qr-code-instructions h5 {
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
}
